@using BOLKrushiKart;
@{
    ViewData["Title"] = "Details Page";
}

<div>
<h2>In Product Details </h2>
@{
   KrushiProduct theProduct=ViewData["product"] as KrushiProduct;
   <p>Product Id : @theProduct.ProdId</p>
   <p>Product Title : @theProduct.ProdTitle</p>
   <p>Product description : @theProduct.ProdDesc</p>
   <p>Product Price : @theProduct.ProdPrice</p>
   <p>Product Quantity : @theProduct.ProdQty</p>
   <p>Product category : @theProduct.ProdCategory</p>
}
</div>
